:host {
  padding-top: 35px;

  .product-item {
    padding: 20px 0;

    .information {
      display: flex;

      .image {
        img {
          width: 60px;
        }
      }

      .description {
        color: #fff;
        padding-left: 15px;

        .name {
          font-size: 18px;
        }

        .price {
          font-size: 28px;
          line-height: 42px;
        }
      }
    }

    .count {
      transform: scale(0.8);
      text-align: center;
    }
  }
}
