<div class="product-item" *ngFor="let item of cart" (click)="change(item)">
  <div class="information">
    <div class="image">
      <img
        src="https://imagenes.preciosclaros.gob.ar/productos/{{ item?.id }}.jpg"
      />
    </div>
    <div class="description">
      <div class="name">
        {{ item?.product.name }}
      </div>
      <div class="price">$ {{ item.product.price || 0 | number: "1.2-2" }}</div>
    </div>
  </div>
  <div class="count">
    <p-inputNumber
      [(ngModel)]="item.count"
      [showButtons]="true"
      min="0"
      max="100"
      buttonLayout="horizontal"
      inputId="horizontal"
      spinnerMode="horizontal"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    ></p-inputNumber>
  </div>
</div>
