:host ::ng-deep {
  .count {
    p-inputNumber {
      button {
        border-radius: 50px !important;
        background-color: #ed3330;
        border-color: #ed3330;
        transition: all 0.4s ease 0s;

        &:hover {
          background-color: #ed3330;
          border-color: #ed3330;
          transform: scale(1.3);
        }
      }

      input {
        background-color: transparent;
        border-color: transparent;
        color: #fff;
        text-align: center;
        width: 83px;
        font-size: 30px;
        height: 36px;
        font-weight: bold;

        &:focus {
          box-shadow: none;
          border: transparent;
        }

        &:hover {
          border: transparent;
        }
      }
    }
  }
}